<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<%- include('navbar') %>

<div class="container mt-5">
    <h1>Add News</h1>
    <form action="/admin/news/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="name_ru">Localized Name (Russian)</label>
            <input type="text" class="form-control" id="name_ru" name="name_ru" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="description_ru">Localized Description (Russian)</label>
            <textarea class="form-control" id="description_ru" name="description_ru" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="files">Images</label>
            <input type="file" class="form-control-file" id="files" name="files" multiple required>
        </div>
        <button type="submit" class="btn btn-primary">Create News Item</button>
    </form>
</div>
<%- include('footer') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
